#### Q1. Declare a list and find its length?

In [12]:
lst=["abc",3,44]
lst1=len(lst)
lst1

3

#### Q2. Can list be nested?

In [ ]:
yes it can be listed

#### Q3. What will happen if we add the two lists

l1=[2,4,5,1]

l2= [3,2.6.7]

In [13]:
w1=[2,4,5,1]
w2=[3,2,6,7]
w1+w2

[2, 4, 5, 1, 3, 2, 6, 7]

#### Q4. What will happen if we multiply the following list by 3

l1=[2,4,5,1]

In [14]:
w1=[2,4,5,1]
w1*3

[2, 4, 5, 1, 2, 4, 5, 1, 2, 4, 5, 1]

#### Q5. Use indexing to grab the word "Test Yantra" from the following list

In [25]:
lst1 = [1,3,5,7,"Test Yantra"]
lst1[4]

'Test Yantra'

#### Q6. Use indexing to grab the word "Data Science" from the following list

In [27]:
lst3=[33,21,4,6,7,[[2,1,34,"DataScience"], 22,True]]
lst3[5][0][3]

'DataScience'

#### Q7. Use indexing to grab the word "Python" from the following list

In [29]:
lst = [1,2,[3,4],[5,[100,200,['Python']],23,11],1,7]
lst[3][1][2][0]

'Python'

#### Q8. Use indexing to grab the word "hello" from the following list

In [30]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

 #### Q9. Given this nested list, use indexing to grab the word "final_target"

In [31]:
nest = [1,2,3,[4,5,['target', 'next_target',['final_target']]]]
nest[3][2][2][0]

'final_target'

#### Q10. name some in-built methods for list and give example for each of them

In [67]:
lst=["abcd",23,34,56,"s"]
len(lst)

5

In [69]:
lst[0:2]

['abcd', 23]

In [70]:
lst[0:]

['abcd', 23, 34, 56, 's']

In [71]:
lst[-1:-6]

[]

#### Q11. What is the difference between 'del' and 'clear' with respect to list ?

In [ ]:
del will delete the content  present  in the memory and clear will delete the entire content

#### Q12. Write codes to create a dictionary and use some inbuilt methods

In [64]:
d1={'Name':["ram","ranjith","raman","radha","raghu","ritesh"],
            "age":[12,24,23,24,25,23],
            "course":["a","b","c","d","e","f"]
            }
d1.items()

dict_items([('Name', ['ram', 'ranjith', 'raman', 'radha', 'raghu', 'ritesh']), ('age', [12, 24, 23, 24, 25, 23]), ('course', ['a', 'b', 'c', 'd', 'e', 'f'])])

In [65]:
d1.values()

dict_values([['ram', 'ranjith', 'raman', 'radha', 'raghu', 'ritesh'], [12, 24, 23, 24, 25, 23], ['a', 'b', 'c', 'd', 'e', 'f']])

In [66]:
d1.keys()

dict_keys(['Name', 'age', 'course'])

#### Q13.Given this nested dictionary grab the word "val3".

In [40]:
d = {'key1':{'val1':{'val2':'val3'}}}
d['key1']['val1']['val2']

'val3'

#### Q14.Given this nested dictionary grab the word "welome"

In [44]:
d1 = {'key1':[1,3,5,{'hello':[{'world':[4,6,'welcome']},'a','e','g']}]}
d1['key1'][3]['hello'][0]['world'][2]

'welcome'

#### Q15.Given this nested dictionary grab the word "Data Scientist"

In [49]:
d1 = {'key1':[1,3,5,{'I am':[5,7,8,[{'a':[4,6,['Data Scientist']]},'a','e','g']]}]}
d1['key1'][3]['I am'][3][0]['a'][2][0]

'Data Scientist'

#### Q16.Given this nested dictionary grab the word "hello".

In [51]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

#### Q17.  Create one Tuple and use some methods associated with that

In [56]:
tup1=(1,2,2,3,4)
type(tup1)

tuple

In [57]:
tup1=(1,2,3,4,5,6)
tup1[0]

1

In [58]:
tup1=(4,4,6,7)
tup1[3]

7

In [59]:
tup1=(3,4,5,6,5)
tup1.count(5)

2

#### Q18.  Create some Sets and use some methods associated with that

In [61]:
s1={1,2,3,4,5,6}

In [62]:
s2={7,8,9,1,2,3}
s1.intersection(s2)

{1, 2, 3}

In [63]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
%pwd

'C:\\Users\\Hp\\python 1'